div class="col-lg-12"
  p
   | &nbsp;
  p
   | &nbsp;
  p
   | &nbsp;
div class="col-lg-2"
div class="col-lg-8"
  h4
    = t(:invited) + ":"
div class="col-lg-12"
div class="col-lg-2"
div class="col-lg-8 text-center"
  = form_for community_invite_path(@community.subdomain,@invitation_send.uuid) do |f|
    div class="form-group row"
      = f.label t(:invitation_recived,user: @invite.user.name,community: @community.name), class: "form-input-label"

    div class="form-group row"
      = f.submit t(:accept), name: :accepted, class: "btn btn-primary"
      | &nbsp;&nbsp;
      = f.submit t(:reject), name: :reject, class: "btn btn-warning"
