div class="col-lg-12"
  p
   | &nbsp;
  p
   | &nbsp;
  p
   | &nbsp;
  h4
    = t(:invite) + ":"
div class="col-lg-2"
div class="col-lg-8"
  = render 'form'
div class="col-lg-12"
  = link_to t(:back), communities_path(@community.subdomain)
