div id="message_#{message.id}"  class="col-lg-12"
  div class="col-lg-12 text-left" style="border-bottom: 1px solid #8c8b8b;"
    div class="col-lg-1"
      = image_tag message.user.avatar(:thumb), alt: current_user.name, class: "img-circle", height: 20 unless message.user.nil?
    div class="col-lg-4"
      = message.user.name unless message.user.nil?
    div class="col-lg-5 text-right"
      = time_ago_in_words(message.created_at) unless message.created_at.nil?
  div class="text-left"
    = message.body unless message.nil?
