div class="container"
  div class="col-lg-12"
    div class="row"
      div class="page-header"
        h3
          = t(:inbox)
      - if @conversation.nil?
        div class="col-lg-12 text-center"
          = t(:no_conversations_available)
      -else
        = form_for([@conversation,@conversation.messages.new], remote: true, html: {class: "form-inline"}) do |f|
          div class="col-lg-12"
            div class="col-lg-2"
              = t(:with)
              br
              = select_tag "conversation_id",options_for_select( Conversation.where("user_id=? or recipient_id=?",current_user.id,current_user.id).map {|c| [c.user_id == current_user.id ? c.recipient.name : c.user.name, c.id]}),{multiple: :multiple, size: 10}
            div class="col-lg-10"
              = t(:messages)
              div id="messages" class="messages-view text-right"
                - unless @messages.empty?
                  - @messages.each do |message|
                    = render message unless message.blank?
              / text_area_tag :messages ,nil, cols: 40, rows: 15, disabled: true, class: "form-control"
              div class="col-lg-10"
              div class="form-group"
                  = f.text_area :body, cols: 40, rows: 5, class: "form-control"
                  | &nbsp;
                  = f.submit t(:send), class: "btn btn-success"
