div class="container"
    div class="col-lg-12"
        div class="page-header"
          = t(:feeds)
        div class="table-responsive"
          table style="width: 100%"
            thead
              tr style="text-align: left"
                th scope="col"
                  = t(:name)
                th scope="col" style="text-align: left;"
                  = t(:url)
                th scope="col" style="text-align: left"
                  = t(:show)
                th scope="col" style="text-align: left"
                  = t(:edit)
            tbody
            - @feeds.each do |feed|
              tr
                td scope="row"
                  = feed.name
                td = feed.url
                td = link_to t(:show), feed
                td = link_to t(:edit), edit_feed_path(feed)

        br

        = link_to t(:feed_new), new_feed_path
