div class="container"
  div class="col-lg-12"
    div class="col-lg-12"
      div class="page-header"
        h2 class="display-3"
          | Feed
      p
        strong Name:
        = @feed.name
      p
        strong Url:
        = @feed.url
      p
        strong Description:
        = @feed.description

      => link_to t(:edit), edit_feed_path(@feed)
      '|
      =< link_to t(:back), feeds_path
