div class="container"
  div class="col-lg-12"
            div class="page-header"
               h2 class="display-3"
                 = t(:edit)
                 | &nbsp;
                 = resource_name.to_s.humanize

            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                  - unless devise_error_messages!.empty?
                    div class="alert alert-dismissible alert-danger"
                      button type="button" class="close" data-dismiss="alert"
                        | &times;
                      = devise_error_messages!
                  div class="form-group"
                    = f.label t(:name), class: "form-input-label"
                    = f.text_field :name, required: true,pattern: "[-0-9A-Za-zÀ-ÿ\s]{1,50}", minlength: "8", maxlength: "50",class: "form-control"
                  div class="form-group"
                    div class="row"
                      - %w[x y x2 y2 w h vy].each do |attribute|
                         = f.hidden_field "crop_#{attribute}",id: "crop_#{attribute}"
                      div class="col-lg-4"
                        div id="userPreview" class="text-center"
                            div class="thumbnail"
                              = image_tag current_user.avatar.url(:project), id: "userimage", class: "img-fluid img-circle img-responsive"
                  div class="form-group "
                    = f.label t(:photo), class: "form-input-label"
                    = f.file_field :avatar, class: "form-control-file"
                  div class="form-group "
                    = f.label t(:email), class: "col-sm-2 col-form-label"
                    div class="col-sm-10"
                      = f.email_field :email, autofocus: true, autocomplete: t(:email), readonly: true, class: "form-control-plaintext"

                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                  div class="from-group "
                    - unless resource.unconfirmed_email.nil?
                      = t(:currently_waiting_confirmation_for)
                      = resource.unconfirmed_email

                  div class="form-group"
                    = f.label t(:password), class: "form-input-label"
                     i
                      = t(:leave_blank_if_you_dont_want_to_change_it)
                    = f.password_field :password, autocomplete: "off",class: "form-control"
                    - if @minimum_password_length
                      br
                      em
                       | (
                       = @minimum_password_length
                       | &nbsp;
                       t(:characters_minimum)
                       | )
                  div class="form-group "
                    = f.label t(:password_confirmation), class: "form-input-label"
                    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

                  div class="form-group "
                    = f.label t(:current_password), class: "form-input-label"
                     i
                      | (
                      = t(:we_need_your_current_password_to_confirm_your_changes)
                      | )
                    = f.password_field :current_password, autocomplete: "off", required: true, class: "form-control"

                  div class="form-group "
                    = f.submit t(:update),class: "btn btn-primary"

            hr class="my-4"
               h3 = t(:cancel_my_account)

               p
                  t(:unhappy)
                  = button_to t(:cancel_my_account), registration_path(resource_name), data: { confirm: t(:are_you_sure) }, method: :delete, class: "btn btn-danger"
            hr class="my-4"
               = link_to t(:back), :back
