div class="container"
    div class="col-lg-12"
      div class="row"
        div class="col-md-3"
          h3 class="display-3 text-center page-header"
            = t(:sign_up_with)
          div class="text-center"
            span class="social-login"
              = link_to  user_facebook_omniauth_authorize_path, :class => "btn mb-3 btn-default " do
                i class='fa fa-facebook fa-3x'
            span class="social-login"
              = link_to user_github_omniauth_authorize_path, :class => "btn  mb-3 btn-default" do
                i class='fa fa-github fa-3x'
            span class="social-login"
              = link_to user_gitlab_omniauth_authorize_path, :class => "btn btn-default" do
                i class='fa fa-gitlab fa-3x'
            span class="social-login"
              = link_to user_google_oauth2_omniauth_authorize_path, :class => "btn btn-default" do
                i class='fa fa-google fa-3x'
        div class="col-md-8 col-md-offset-1"
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            - unless devise_error_messages!.empty?
              div class="alert alert-dismissible alert-info"
                button type="button" class="close" data-dismiss="alert"
                 | &times;
                = devise_error_messages!
            h3 class="display-3 text-center page-header"
              = t(:sign_up_with)
              | &nbsp;
              = t(:email)
            div class="form-group "
              = f.label t(:name), for: "name"
              = f.text_field :name, autofocus: true, required: true, pattern: "[-0-9A-Za-zÀ-ÿ\s]{1,50}",minlength: "8", maxlength: "50", class: "form-control", id: "name", placeholder: t(:name)
            div class="form-group "
              = f.label t(:email), for: "email"
              = f.email_field :email, autofocus: true, autocomplete: "email", required: true, "data-parsley-type": "email", class: "form-control", id: "email", placeholder: t(:email)

            div class="form-group "
              = f.label t(:password), for: "password"
              - if @minimum_password_length
                em
                  = @minimum_password_length
                  | &nbsp;
                  = t(:characters_minimum)
              = f.password_field :password, autocomplete: "off", required: true, minlength: "8", maxlength: "50", "data-parsley-type": "alphanum", class: "form-control", id: "password", placeholder: t(:password)

            div class="form-group "
              = f.label t(:password_confirmation), "data-parsley-equalto": "#user_password", for: "confirmation"
              = f.password_field :password_confirmation, required: true, autocomplete: "off", class: "form-control", id: "confirmation", placeholder: t(:password_confirmation)
            div class="form-group "
              = f.label t(:photo), for: "avatar"
              div class="row"
                - %w[x y x2 y2 w h vy].each do |attribute|
                    = f.hidden_field "crop_#{attribute}", id: "crop_#{attribute}"
                div class="col-lg-6"
                  div id="userPreview" class="text-center"
                    div class="thumbnail"
                      = image_tag @user.avatar.url(:project), id: "userimage", class: "img-fluid img-circle img-responsive"
            div class="clear-text"
            div class="form-group "
              = f.file_field :avatar, class: "form-control-file", id: "user_avatar"
              = invisible_captcha
            div class="form-group"
            = f.submit t(:sign_up), class: "btn btn-primary "

      hr class="my-4"
        = render "devise/shared/links"
