- unless comment.user.nil?
  - unless comment.commentable_type.downcase.to_s=="comment"
    - comment_class = "comment mb-2 row well mt-3"
  -else
    - comment_class = "comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2 mt-3"
  div id="comment_#{comment.id}" class="#{comment_class} "
      div  class="comment-avatar col-md-1 col-sm-2 text-center pr-1"
        = link_to user_custom_path(comment.user.id,comment.user.name), class: "avatar" do
          = image_tag comment.user.avatar(:thumb), alt: comment.user.name, class: "img-circle", height: 40
      div class="comment-content col-md-11 col-sm-10"
        h6 class="small comment-meta"
          = link_to comment.user.name, user_custom_path(comment.user.id,comment.user.name)
          | &nbsp;
          = time_ago_in_words(comment.created_at)
      div class="comment-body col-md-11 col-sm-10 "
        p
          = comment.content

        - if user_signed_in?
          p
            = link_to new_comment_url(:comment_id=>comment.id),  data: {toggle: "tooltip", placement: "bottom"},remote: true, class: "text-right small" do
              i class="fa fa-reply"
              | &nbsp;
              = t(:reply_comment)
            | &nbsp;
            - if comment.flagged
              = link_to comment_url(comment.id), method: :put, title: t(:to_unflag_comment), data: {confirm: t(:are_you_sure_unflag)}, remote: true,  data: {toggle: "tooltip", placement: "bottom"},class: "text-right small", id: "comment_#{comment.id}_unflag" do
                i class="fa fa-flag-o"
                | &nbsp;
                = t(:un_flag)
            - else
              = link_to comment_url(comment.id), method: :put, title: t(:to_flag_comment), data: {confirm: t(:are_you_sure_flag)},  data: {toggle: "tooltip", placement: "bottom"},remote: true, class: "text-right small", id: "comment_#{comment.id}_flag" do
                i class="fa fa-flag"
                | &nbsp;
                = t(:flag)
            - if @event.user.id == current_user.id
              | &nbsp;
              = link_to new_conversation_url(recipient_id: comment.user_id), title: t(:start_a_conversation_with),  data: {toggle: "tooltip", placement: "bottom"},remote: true, class: "text-right small" do
                i class="fa fa-comment"
                | &nbsp;
                = t(:private_message)
              | &nbsp;
              = link_to comment_url(comment.id), method: :delete, title: t(:to_remove_comment), data: {confirm: t(:are_you_sure_remove_comment)},  data: {toggle: "tooltip", placement: "bottom"}, remote: true, class: "text-right small" do
                i class="fa fa-trash"
                | &nbsp;
                = t(:remove)
        p
          | &nbsp;
      div id="comment_comment_#{comment.id}"
      div id="new_comment_comment_#{comment.id}"
      - unless comment.comments.empty?
        p
          | &nbsp;
        - comment.comments.where("comments.deleted=false and comments.flagged=false").order("id desc").each do |comment|
          = render comment
