div class="col-md-4"
div class="col-md-6 text-left"
  h6
    = t(:new_comment)
  = form_for [@commentable, @comment], remote: true do |f|
    - if @comment.errors.any?
      div class="error_messages"
        h2 Please correct the following errors.
        ul
          - @comment.errors.full_messages.each do |msg|
            li
              = msg

    div class="field "
      = f.text_area :content, rows: 8, cols: 30
      = invisible_captcha
    div class="actions"
      = f.submit t(:save), class: "btn btn-success btn-sm"
      | &nbsp;
      = link_to t(:cancel),{ class: "btn btn-secundary"},:onclick=>"$('#add_comment').toggle();$('##{@comment.commentable_type.downcase}_comment_#{@comment.commentable.id}').html('');return false;"

div class="col-md-12"
  | &nbsp;
