= link_to comment_url(comment.id), method: :put, data: {confirm: t(:are_you_sure_flag)}, remote: true, class: "text-right small", id: "comment_#{comment.id}_flag" do
  i class="fa fa-flag"
  | &nbsp;
  = t(:flag)
