<%if @comment && @new%>
$("#new_comment").html('');
$('#add_comment').toggle();
$('#<%=@comment.commentable_type.downcase%>_comment_<%=@comment.commentable.id%>').html('');
$("#new_<%=@comment.commentable_type.downcase%>_comment_<%=@comment.commentable_id%>").append('<%= j render @comment%>');
<%else%>
alert(':-(');
<%end%>
