<%if @comment.deleted %>
  $('#comment_<%=@comment.id%>').toggle();
<%else%>
  $('#comment_<%=@comment.id%>_unflag').html('<%= j render :partial => 'unflag', :locals=>{comment: @comment}%>');
<%end%>
