p
  | Hola &nbsp;
  = @user.name
  |,
p
p
  = "#{@message_user.name} miembro de la comunidad: "
  = link_to @message.board.community.name, community_url(@message.board.community.subdomain)
  | , agrego un mensaje en el tablero.
p
  = "Puedes ver el mensaje siguiendo el siguiente enlace:"
  | &nbsp;
  = link_to @message.board.subject, community_board_url(@message.board.community.subdomain,@message.board)

p

  | Gracias y Suerte
