div class="container"
     div class="col-lg-12"
       div class="page-header"
         h3 class="display-3"
           = t(:edit)
           | &nbsp;
           = t(:page)

       == render 'form'

       => link_to 'Show', @carousel
       '|
       =< link_to 'Back', carousels_path
