div class="container"
  div class="col-lg-12"
     div class="bs-docs-section clearfix"
       div class="col-lg-12"
        div class="page-header"
         div class="col-lg-12"
            h1
              = t(:carousels)
              | :
            = link_to t(:new_carousel), new_carousel_path
       div class="col-lg-12"
         div class="table-responsive"
          table class="table table-hover"
            thead
              tr
                th scope="col"
                  = t(:user)
                th scope="col"
                  = t(:image)
                th scope="col"
                  = t(:page)
                th scope="col"
                  = t(:active)
                th
                th
                th

            tbody
              - @carousels.each do |carousel|
                tr class="table-primary"
                  td scope="row"
                    = carousel.user.name
                  td = image_tag carousel.image.url(:thumb), class: 'img-responsive'
                  td = carousel.page.title
                  td = carousel.active
                  td = link_to t(:show), carousel
                  td = link_to t(:edit), edit_carousel_path(carousel)
                  td = link_to t(:destroy), carousel, data: { confirm: t(:are_you_sure) }, method: :delete

          br

          = link_to t(:new_carousel), new_carousel_path
