div class="container"
   div class="col-lg-12"
     div class=""
       p
         strong Header:
         = @carousel.header
       p
         strong Sentence:
         = @carousel.sentence
       p
         strong Link:
         = @carousel.link
       p
         strong Image:
         = image_tag @carousel.image.url(:medium), class: "img-responsive"
       p
         strong Page:
         = @carousel.page.title
       p
         strong Active:
         = @carousel.active

       => link_to t(:edit), edit_carousel_path(@carousel)
       '|
       =< link_to t(:back), carousels_path
