= form_for(@conversation, remote: true) do |f|
  div class="form-group"
    = f.label t(:to)+":", class: "form-input-label"
    = text_field_tag :recipient, @recipient.name , disabled: true
    = f.hidden_field :recipient_id, value: @recipient.id, class: "form-control"
  div class="form-group"
    = f.label t(:message), class: "form-input-label"
    = text_area_tag :body, nil, class:"form-control"
  div class="form-group"
    = f.submit t(:send), class: "btn btn-primary"
