- set_class=''
- if formated==true
  - set_class="list-group-item d-flex justify-content-between align-items-center"
li id="notification_#{notification.id}" class="#{set_class}"
    - unless set_class.empty?
      = check_box_tag "ids[]", notification.id, false
      | &nbsp;
    = link_to "#{notification.user.name} #{t(:added_new_board_message)} #{notification.notifiable.board.community.name}" ,
            community_board_url(notification.notifiable.board.community.subdomain,notification.notifiable.board.id,:not_id=>notification.id)
