div class="list-group-item col-lg-2 text-center" style="border: 0;"
    = link_to(badge_path(badge.id), title: "#{badge.name} - #{t(:awarded,times: badge.user_badges.count)}" , data: {toggle: "tooltip", container: "body", placement: "bottom"})  do
      = image_tag badge.image.url, size: "90x90"
    - if user_signed_in?
      br
      - if badge.owner_id==current_user.id
        = link_to t(:edit), edit_badge_path(badge.id)
      - if badge.claimable
        '|
        = link_to t(:claim), badge_claim_path(badge.uuid)
        '|
        = link_to t(:qrcode), qrcode_badge_path(badge.uuid)
