div class="container"
 div class="col-lg-12"
    div class="page-header"
      h3 = t(:editing_badge)
    div class="col-lg-12"
      == render 'form'
    => link_to t(:show), @badge
    '|
    =< link_to t(:back), badges_path
