div class="container"
    div class="page-header"
     - unless @event.nil?
        = render @event
        div class="col-lg-12 text-center"
          = t(:event_badges_title)
     - else
       = t(:site_badges)
    div class="col-lg-12 text-center"
       - if @badges.count.to_i<3.to_i
         div class="col-lg-10 text-center"
           = link_to t(:add_badge_to_event), new_badge_path(:event_id=> @event.id) unless @event.nil?
    dic class="col-lg-2"
      - if @event.nil?
       - unless @badge.nil?
         div class="text-center"
           = t(:last_awarded)
           br
           br
           = image_tag @badge.image.url, size: "90x90"
           br
           = @badge.name
           br
           = t(:awarded,times: @badge.user_badges.count)
           br
           br
           = t(:last_awarded_to)
           br
           = link_to(user_custom_path(@user.id,@user.name.gsub(/\s/,'-')), title: "#{@user.name}" , data: {toggle: "tooltip", container: "body", placement: "bottom"})  do
             = image_tag @user.avatar.url(:med_thumb),size: "90x90", alt: @user.name, class: "img-circle img-fluid"
    div class="col-lg-10"
       = will_paginate @badges, renderer: BootstrapPagination::Rails
       div class="panel panel-default"
         div class="panel-heading"
           = t(:all_badges)
         div class="panel-body"

           div class="list-group"
             - @badges.each do |badge|
               = render badge
       = will_paginate @badges, renderer: BootstrapPagination::Rails
