div class="container"
 div class="col-lg-12"
    div class="page-header"
      - if notice
        div class="col-lg-12"
          div class="alert alert-dismissible alert-success"
            button type="button" class="close" data-dismiss="alert"
              | &times;
            = notice
    div class="col-lg-4"
    div class="col-lg-3"
      css:
          #qr table {
            border-width: 0;
            border-style: none;
            border-color: #0000ff;
            border-collapse: collapse;
            text-align: center;
            }
          #qr td {
            border-left: solid 5px #000;
            padding: 0;
            margin: 0;
            width: 0px;
            height: 5px;
            }
          #qr td.black { border-color: #000; }
          #qr td.white { border-color: #fff; }
      div id="qr"
        = raw @qr.as_html
      p class="text-center"
        = @badge.name
