p
  = "Saludos, #{@user.name},"

P
p
  | Mucho a ocurrido desde la ultima vez que ingresaste a Floss-pa. Aqui algunas de las notificaciones que te has perdido:
p
  = "Tienes #{@notifications} nuevas notificaciones"
p
 | &nbsp;
p
  = link_to "Ver Notificaciones", notifications_url
