div class="col-lg-12"
  | &nbsp;
  - if @notification.nil?
    div class="col-lg-12 text-center"
      = t(:no_notifications_found)
  - else
    div class="col-lg-12"
      = form_for @notification do |f|
        div class="col-lg-2"
          | &nbsp;
        div class="col-lg-8"
            | &nbsp;
            ul  class="list-group"
              li class="list-group-item d-flex justify-content-between align-items-center"
                = check_box_tag "all_unread", "all", false
                | &nbsp;
                = t(:notification)
            - @notifications.each do |notification|
                    = render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action.downcase}", locals: {notification: notification, formated: true}, formats: [:html]
            div class="col-lg-1"
              | &nbsp;
              =  f.submit t(:save), class: "btn btn-primary"
        div class="col-lg-12"
         | &nbsp;
