div class="container"
  div class="col-lg-12"
     div class="page-header"
       h2 class="display-3"
         = t(:change_your_password)

     = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token

        div class="form-group "
           = f.label t(:new_password), class: "form-input-label"
           - if @minimum_password_length
             em
                | (
                = @minimum_password_length
                | &nbsp;
                t(:characters_minimum)
                | )
           = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"

        div class="form-group "
           = f.label t(:password_confirmation), class: "form-input-label"
           = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"

        div class="form-group "
           = f.submit t(:change_my_password), class: "btn btn-primary"
     hr class="my-4"
      = render "devise/shared/links"
