div class="container"
  div class="col-lg-12"
     div class="page-header"
       h2 class="display-3"
         = t(:forgot_your_password)

     = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
         = devise_error_messages!

         div class="form-group row"
           = f.label t(:email), class: "form-input-label"
           = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

         div class="form-group row"
           = f.submit t(:send_me_reset_password_instructions), class: "btn btn-primary"
     hr class="my-4"
       = render "devise/shared/links"
