div class="container"
  div class="col-lg-12"
     div class="page-header"
       h3 class="display-3"
         = t(:edit)
         | &nbsp;
         = t(:event)
         | &nbsp;
         = t(:schedule)
     div class="col-lg-12"
       = link_to t(:back), event_path(@event.subdomain)
     div class="col-lg-12"
       div class="row"
         figure class="figure"
           = image_tag @event.image.url(:event), class: "figure-img img-fluid rounded img-responsive"
       div class="row"
         | &nbsp;
       div class="row"
         div class="list-group"
           div class="list-group-item list-group-item-action flex-column align-items-start"
             div class="d-flex w-100 justify-content-between"
               div class="row"
                 div class="col-lg-2 text-center bg-light"
                   h1 class="display-2"
                     = @event.start_at.strftime("%b")
                   h2 class="display-3 text-danger"
                     = @event.start_at.strftime("%d")
                   h3 class="display-4"
                     = @event.start_at.strftime("%Y")
                 div class="col-lg-8"
                   h2 class="font-weight-bold"
                     = @event.title
                   p
                     strong
                       = t(:hosted_by)
                       | : &nbsp;
                     = link_to @event.user.name, user_custom_path(@event.user_id,@event.user.name)
                   - unless @event.location.nil?
                     p
                       strong
                         = t(:location)
                         | : &nbsp;
                       = @event.location
                   p
                     strong
                       = t(:from)
                       | : &nbsp;
                     = @event.start_at.strftime("%I:%M %p")
                     | &nbsp;
                     strong
                       = t(:until)
                       | : &nbsp;
                     = @event.end_at.strftime("%I:%M %p")
                   p
                     = link_to t(:add_to_calendar), event_calendar_download_path(@event)
                   - unless @event.ticket_url.nil?
                     - unless @event.ticket_url.empty?
                       p
                         strong
                           = t(:tickets)
                           | : &nbsp;
                         = link_to @event.ticket_url, @event.ticket_url, target: "_blank"
                   = social_share_button_tag(@event.title,desc: @event.description)
     div class="col-lg-12"
       = form_for @event do |f|
         - if @event.errors.any?
           #error_explanation
             h2 = "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
             ul
               - @event.errors.full_messages.each do |message|
                 li = message
         div class="row"
           div id="schedule_add"

             b
               = t(:schedule)
             div class=""
               div class="text-info"
                 = t(:schedule_explain)
             = f.nested_fields_for :schedules do |schedule_form|
               div class="col-sm-12 "
                 div class="col-sm-4"
                   = schedule_form.label t(:speaker_name), class: "form-input-label-sm"
                   | :
                   = schedule_form.text_field :speaker_name, size: 29, required: true, class: "form-control-sm"
                 div class="col-sm-4"
                   = schedule_form.label t(:email), class: "form-input-label-sm"
                   | :
                   = schedule_form.email_field :email, size: 29, required: true, class: "form-control-sm"
                 div class="col-sm-4"
                   = schedule_form.label t(:talk_name), class: "form-input-label-sm"
                   | :
                   = schedule_form.text_field :talk_name, size: 29, required: true, class: "form-control-sm"
               div class="col-sm-12"
                 div class="col-sm-4"
                   = schedule_form.label t(:room), class: "form-input-label-sm"
                   | :
                   br
                   = schedule_form.text_field :room, size: 29, class: "form-control-sm"
                 div class="col-sm-1"
                   = schedule_form.label t(:workshop), class: "form-input-label-sm"
                   | :
                   br
                   = schedule_form.check_box :workshop, {}, true, required: true, class: "form-control"
                 div class="col-sm-2"
                   = schedule_form.label t(:date_hour), class: "form-input-label-sm"
                   | :
                   br
                   = schedule_form.text_field :date_hour, size: 8,required: true, data: {provide: "datepicker", "date-format": "yyyy-mm-dd", placeholder: DateTime.now.strftime("%Y-%m-%d")}, class: "form-control-sm"
                 div class="col-sm-2"
                   = schedule_form.label t(:hour_start), class: "form-input-label-sm"
                   | :
                   br
                   = schedule_form.time_field :hour_start, size: 8, min: '06:00',max: '23:00', required: true, class: "form-control-sm"
                 div class="col-sm-2"
                   = schedule_form.label t(:hour_end), class: "form-input-label-sm"
                   | :
                   br
                   = schedule_form.time_field :hour_end, size: 8, min: '06:00',max: '23:59',required: true, class: "form-control-sm"
               div class="col-sm-12"
                 div class="col-lg-5"
                   = schedule_form.label t(:speaker_resume), class: "form-input-label-sm"
                   | :
                   = schedule_form.text_area :speaker_resume, cols: 39, rows: 3, class: "form-control-sm"
                 div class="col-lg-5"
                   = schedule_form.label t(:talk_resume), class: "form-input-label-sm"
                   | :
                   = schedule_form.text_area :talk_resume, cols: 39, rows: 3, class: "form-control-sm"
                 div class="col-sm-1"
                   br
                   =  schedule_form.remove_nested_fields_link do
                     i class="fa fa-close fa-2x" title="#{t(:remove_schedule_field_tooltip)}" data-toggle= "tooltip"  data-placement= "bottom"
             div class="col-lg-12"
               br
               = f.add_nested_fields_link :schedules, t(:add_schedule)
               br
           div class="form-group "
             br
             = f.submit t(:save), name: 'draft', class: "btn btn-primary"
