    #footer
      .container
        .row
          .col-lg-12.icons
            .block
              ul.list-inline.text-center
                li.list-inline-item
                  a href="https://www.instagram.com/flosspanama" target="_blank"
                    span.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-instagram.fa-stack-1x.fa-inverse
                li.list-inline-item
                  a href="https://twitter.com/flosspa" target="_blank"
                    span.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-twitter.fa-stack-1x.fa-inverse
                li.list-inline-item
                  a href="https://www.facebook.com/flosspa" target="_blank"
                    span.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-facebook.fa-stack-1x.fa-inverse
                li.list-inline-item
                  a href="https://gitlab.com/floss-pa" target="_blank"
                    span.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-gitlab.fa-stack-1x.fa-inverse
                li.list-inline-item
                  a href="https://t.me/joinchat/BS0EUj6Y97EinN_BZlqi0g" target="_blank"
                    span.fa-stack.fa-lg
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-telegram.fa-stack-1x.fa-inverse
          .col-lg-12.links
            ul.list-unstyled
              li.pull-right
                a href="https://floss-pa.net/#top"  Regresar al principio
              li
                a href="https://floss-pa.net/privacy"  Politicas de Privacidad
