div class="container"

  div class="navbar-header"
    a href="../" class="navbar-brand"  = image_tag "logo.png", alt: "floss-pa", class: "img-fluid"
    button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main"
      span class="icon-bar"
      span class="icon-bar"
      span class="icon-bar"

  div  class="navbar-collapse collapse" id="navbar-main"
    ul class="nav navbar-nav"
      li = link_to t(:news), news_index_path
      li = link_to t(:communities), communities_path
      li = link_to t(:events), events_path
      li = link_to t(:badges), badges_path
      li = link_to t(:planet), planet_index_path
      li = link_to "Wiki", "https://wiki.floss-pa.net/",{:target=>"_blank"}

    ul class="nav navbar-nav navbar-right"

      - unless user_signed_in?

        li = link_to t(:sign_up), new_user_registration_path
        li = link_to t(:sign_in), new_user_session_path

      - else

        - if current_user.has_role? :admin

          li class="dropdown"
            a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user"
              | Admin
              span class="caret"
            ul class="dropdown-menu" aria-labelledby="user"
             li = link_to t(:pages), pages_path
             li = link_to t(:carousel), carousels_path
             li = link_to t(:badge_rules), badge_rules_path

        li class="dropdown"
          a class="dropdown-toggle" data-toggle="dropdown" href="#" id="actions"
            = t(:create)
            span class="caret"
          ul class="dropdown-menu" aria-labelledby="actions"
            li
              = link_to new_news_path do
                i class="fa fa-newspaper-o"
                | &nbsp;
                = t(:news)
            li
              = link_to new_community_path do
                i class="fa fa-group"
                | &nbsp;
                = t(:community)
            li
              = link_to new_event_path do
                i class="fa fa-calendar"
                | &nbsp;
                = t(:event)
            li
              = link_to new_feed_path do
                i class="fa fa-rss"
                | &nbsp;
                = t(:feeder)
        li class="dropdown"
          a class="dropdown-toggle" data-toggle="dropdown" href="#" id="conversations"
            span class="glyphicon glyphicon-comment"
            span class="badge"  id="unread-count-conversation"
             | 0
             / Notification.unread.where("recipient_id=?",current_user.id).count
            span class="caret"
          ul class="dropdown-menu" arial-labelledby="notifications" id="conversations-items"
            li class="dropdown-header text-uppercase"
              = t(:messages)
            - unless current_user.conversations.empty?
              li
                p.text-center.small = t(:no_new_comversations)
            li class="dropdown-divider"
            li class="dropdown-item"
              = link_to t(:all_conversations), conversations_url, class: "text-capitalize"
        li class="dropdown"
          a class="dropdown-toggle" data-toggle="dropdown" href="#" id="notifications"
            span class="glyphicon glyphicon-bell"
            span class="badge"  id="unread-count"
             | 0
             / Notification.unread.where("recipient_id=?",current_user.id).count
            span class="caret"
          ul class="dropdown-menu" arial-labelledby="notifications" id="notification-items"
            li class="dropdown-header text-uppercase text-left" style="min-width: 420px" id="first-notification-item"
              span class="col-xs-6"
                = t(:notification)
                | &nbsp;
              span class="  col-xs-5 text-left"
                = link_to t(:mark_all_as_read), '/notifications/1?all_unread="yes"',method: :put, class: "text-capitalize"
                | &nbsp;
            li
                p class="text-center small" id="notifications_empty"
                  = t(:no_new_notifications)
            li class="dropdown-divider"
            li class="dropdown-item text-center" id="last-notification-item"
              = link_to t(:all_notifications), notifications_url, class: "text-capitalize"
        li class="dropdown"
          a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user"
            - if current_user.avatar.blank?
              = current_user.name
            - else
              = image_tag current_user.avatar.url(:thumb), alt: current_user.name, class: "img-circle", height: 20
            span class="caret"

          ul class="dropdown-menu" aria-labelledby="user"
            / li = link_to t(:profile), user_path(current_user)
            / li = link_to t(:edit) + ' ' + t(:profile), edit_user_path(current_user)
            li
              = link_to edit_user_registration_path do
                i class="fa fa-user-secret"
                | &nbsp;
                = t(:account)
            li
              = link_to user_custom_path(current_user,current_user.name) do
                i class="fa fa-user-o"
                | &nbsp;
                = t(:my_perfil)
            li
              = link_to preferences_path do
                i class="fa fa-cogs"
                | &nbsp;
                = t(:manage_preferences)
            li
              = link_to my_news_path do
                i class="fa fa-newspaper-o"
                | &nbsp;
                = t(:manage_news)
            li
              = link_to my_events_path do
                i class="fa fa-calendar"
                | &nbsp;
                = t(:manage_events)
            li
              = link_to feeds_path do
                i class="fa fa-rss"
                | &nbsp;
                = t(:manage_your_feeds)
            li
              = link_to destroy_user_session_path, {:method=>"delete", :id=>"logout"}
                i class="fa fa-sign-out"
                | &nbsp;
                = t(:sign_out)
