
  li id="board_message_#{board_message.id}" class="list-group-item list-group-item-action flex-column align-items-start"
        div  class="row"
          div class="col-lg-2 text-center bg-light"
            -  user=User.find(board_message.user_id) unless board_message.user_id.nil?
            = image_tag user.avatar(:thumb), alt: user.name unless user.nil?
            p
              = user.name unless user.nil?
          div class="col-lg-8"
            div id="message_board_edit_#{board_message.id}"
            div id="message_board_content_#{board_message.id}"
              = simple_format(board_message.content).gsub(URI.regexp, '<a href="\0" target="_blank">\0</a>').html_safe
            p
              i class="fa fa-clock-o fa-1x"
              | &nbsp;
              = board_message.created_at
            - if board_message.deleted
              p class="badge badge-pill badge-warning"
                = t(:board_subject_deleted)
          div class="col-lg-2"
            - if user_signed_in?
              - if @member
                div class="btn-group" role="group"
                  button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    i class="fa fa-ellipsis-h fa-2x"
                  div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 45px, 0px);"
                    - if board_message.board.community.is_admin?(current_user) || board_message.user_id==current_user.id
                      p
                        | &nbsp;
                        = link_to t(:edit), edit_community_board_board_message_url(board_message.board.community,board_message.board,board_message), remote: true,  class: "dropdown-item"
                      p
                        |&nbsp;
                        = link_to t(:delete), community_board_board_message_url(board_message.board.community,board_message.board ,board_message), method: "delete" ,remote: true, class: "dropdown-item"
