div id="board_message_form"
  = form_for([@community,@board,@board_message],remote: true) do |f|
    - if @board.errors.any?
      #error_explanation
        h2 = "#{pluralize(@community.errors.count, "error")} prohibited this community from being saved:"
        ul
          - @board.errors.full_messages.each do |message|
            li = message
    div class="form-group row"
      = f.label t(:board_subject), class: "form-input-label"
      = f.text_area :content, required: true,cols: "20", rows: "10", minlength: "6", maxlenght: "50", class: "form-control"
      small id="titlelHelp" class="form-text text-muted"
        = t(:board_subject_help)
    div class="form-group row"
      = f.submit t(:save), class: "btn btn-primary"
      | &nbsp;
      = link_to t(:cancel),{ class: "btn btn-secundary"},:onclick=>"$('#message_board_content_#{@board_message.id}').toggle();$('#board_message_form').remove();$('#new_board_comment').toggle();return false;"
