<%if @board_message%>
  $('#board_message_form').remove();
  $('#new_board_comment').toggle();
  $('#board_message_list').prepend('<%= j render @board_message %>');
<%else%>
alert('something_when_wrong');
<%end%>
