console.log('<%=@member.present?%>');
<%if @member.present? %>
$('#new_board_comment').toggle();
$('#board_message_list').prepend('<%= j render("form")%>');
<%else%>
alert('<%=t(:join_to_leave_message)%>');
<%end%>
