<%if @board_message%>

$('#message_board_content_<%=@board_message.id%>').html('<%= @board_message.content.html_safe%>');
$('#edit_board_message_<%=@board_message.id%>').remove();
$('#message_board_content_<%=@board_message.id%>').toggle();

<%else%>
alert('something when wrong');
<%end%>
