          div class="row"
             div class="col-lg-12"
               div class="col-lg-2"
                 div class="text-center"
                   h1 class="display-2"
                     = @attendee.event.start_at.strftime("%b")
                   h2 class="display-3 text-danger"
                     = @attendee.event.start_at.strftime("%d")
                   h2 class="display-3"
                     = @attendee.event.start_at.strftime("%Y")
               div class="col-lg-7"
                 = image_tag @attendee.event.image.url(:ticket), class: "figure-img img-fluid rounded img-responsive"
               div class="col-lg-3"
                 css:
                     #qr table {
                       border-width: 0;
                       border-style: none;
                       border-color: #0000ff;
                       border-collapse: collapse;
                       }
                     #qr td {
                       border-left: solid 5px #000;
                       padding: 0;
                       margin: 0;
                       width: 0px;
                       height: 5px;
                       }
                     #qr td.black { border-color: #000; }
                     #qr td.white { border-color: #fff; }
                 div id="qr"
                   = raw @qr.as_html
             div class="col-lg-2"
               | &nbsp;
             div class="col-lg-10"
               p
                 = @attendee.event.title
               p
                 = @attendee.event.location
               p
                 strong
                   = t(:from)
                   | : &nbsp;
                 = @attendee.event.start_at.strftime("%I:%M %p")
                 strong
                   |  &nbsp;
                   = t(:to)
                   | : &nbsp;
                 = @attendee.event.end_at.strftime("%I:%M %p")
