<% unless @attendee.id.nil? %>
    $('#modal_title').html("<%= j t(:ticket_view)%>");
    $('#modal_content').html('<%= j render(@attendee) %>');
    $('#link_to_attendee').html('<%= link_to t(:print_version), attendee_path(@attendee), target: "_blank", class: "btn btn-primary"%>');
    $('#view_your_ticket').html('<%= link_to t(:view_your_ticket), attendee_path(@attendee), remote: true, class: "btn btn-success btn-sm btn-block" %>');
<% else %>
  $('#modal_content').html('<p> ups </p> ');
<% end %>
  $('#Event_Registration').hide();
  $('#show_modal').modal('show');
