div class="container"
    div class="col-lg-12"
        div class="page-header"
          div class="row"
           div class="col-lg-10"
            h3
              = t(:attendees)
              | :
            = t(:to_your_event)
            | : &nbsp;
            = @event.title
           div class="col-lg-2"
            = button_to t(:draw), draw_attendees_path(@event.id), remote: true, title: t(:draw_info) , data: {toggle: "tooltip", placement: "bottom"}, class: "btn btn-success  btn-sm text-right"
        div class=" text-center"
          = will_paginate @attendees, renderer: BootstrapPagination::Rails
          - count=0
          table class="table-responsive" style="width: 100%"
            thead
              tr style="text-align: left"
                th scope="col"
                  | &nbsp;
                th style="text-align: left;width: 30%;"
                  = t(:attendee)
                th scope="col"
                  | &nbsp;
                th scope="col" style="text-aling: left;"
                  = t(:join)
                th scope="col" style="text-align: left"
                  = t(:validated)
                th scope="col" style="text-align: left"
                  = t(:validated_at)
                th scope="col" style="text-algin: center"
                  = t(:won)
            tbody
              - if params[:page].nil?
                - count=0
              - else
                - if params[:page].to_i==1.to_i
                  - count=0
                - else
                  - count= 30*params[:page].to_i - 30
              - @attendees.each do |attendee|
                tr style="border-bottom:1pt solid black;"
                  td scope="row"
                    = count+=1
                    | &nbsp;
                  td style="text-align: left; width: 30%;"
                    = attendee.user.name
                  td
                    | &nbsp;
                  td style="text-align: left"
                    = attendee.created_at.strftime("%d-%m-%Y %I:%M %p"  )
                  td style="text-align: center"
                    - if attendee.validated
                      i class="fa fa-check fa-1x"
                  td style="text-align: left"
                    = attendee.validated_at.strftime("%d-%m-%Y %I:%M %p"  ) unless attendee.validated_at.nil?
                  td style="text-align: center"
                    - if attendee.won
                      i class="fa fa-check fa-1x"
        br
        div class="row text-center"
          = will_paginate @attendees, renderer: BootstrapPagination::Rails
