div class="container"
    div class="col-lg-12"
      div class="page-header"
          h1
            = t(:attendees)
            | :
      div class="row"
        == render 'form'
      div class="row"
        = link_to t(:back), attendees_path
