$('#modal_title').html("<%= j t(:ticket_view)%>");
$('#modal_content').html('<%= j render(@attendee) %>');
$('#link_to_attendee').html('<%= link_to t(:print_version), attendee_path(@attendee), target: "_blank", class: "btn btn-primary"%>');
$('#show_modal').modal('show');
