- set_class=''
- if formated==true
  - set_class="list-group-item d-flex justify-content-between align-items-center"
li id="notification_#{notification.id}" class="#{set_class}"
    - unless set_class.empty?
      = check_box_tag "ids[]", notification.id, false
      | &nbsp;
    = link_to "#{notification.user.name} #{t(:is_going_to_your_event)} #{notification.notifiable.ticket.event.name}" ,
            event_url(notification.notifiable.ticket.event.subdomain,:not_id=>notification.id)
