
  div class="container"
   - unless @community.nil?
      = render file: 'communities/show', layout: false
   div class="row"
    div class="col-lg-12"
      div class="page-header"
          h3
            = t(:events)
            | :
    div class="col-lg-12"
          - count=1
          - @events.each do |event|
                div class="col-lg-6 col"
                 div class="list-group"
                  = link_to event_path(event.subdomain.nil? ? event.id : event.subdomain), class: "list-group-item list-group-item-action flex-column align-items-start" do
                    div class="d-flex w-100 justify-content-between"
                      h4 class="mb-1"
                        = event.title.truncate(46)
                      small class="text-muted "
                        / time_ago_in_words(event.created_at)
                    div class="row"
                      div class="col-lg-4"
                        div class="text-center"
                          h1 class="display-2"
                            = event.start_at.strftime("%b")
                          h2 class="display-3 text-danger"
                            = event.start_at.strftime("%d")
                          h3 class="display-4"
                            = event.start_at.strftime("%Y")
                          br
                            | &nbsp;
                      div class="col-lg-8"
                        = image_tag event.image.url(:project), class: "img-responsive"
                      div class="col-lg-12"
                        p
                          strong
                            = t(:location)
                            | :&nbsp;
                          = event.location.truncate(46)
                        p
                          strong
                           =  t(:host)
                           | :&nbsp;
                          = event.user.name
                        p class=""
                          = strip_tags(event.description).truncate(140)

    div class="row text-center"
        = will_paginate @events, renderer: BootstrapPagination::Rails
