div class="col-lg-12"
  = render @event
div class="col-lg-3"
 | &nbsp;
div class="col-lg-9"
     = form_for @event do |f|
        - if @event.errors.any?
          #error_explanation
            h2 = "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
            ul
              - @event.errors.full_messages.each do |message|
                li = message
        div class="row"
          div class="form-group col-lg-6"
            = f.label t(:send_email_notifications_to_attendees_of_your_previus_events)
            = f.hidden_field :invite_emails, :value=>true
        div class="form-group "
          br
          = f.submit t(:send_invites), name: 'send_invites', class: "btn btn-primary"
