div class="container"
  div class="col-lg-12"
     div class="page-header"
       h3 class="display-3"
         = t(:add)
         | &nbsp;
         = t(:event)
         - unless @community.nil?
           | &nbsp;
           = t(:to)
           | :&nbsp;
           = @community.name

     == render 'form'

     = link_to t(:back), events_path
