div class="container"
    div class="col-lg-12"
      div class=""
        br
        div class="col-lg-10"
         | &nbsp;
        div class="col-lg-2 text-right"
          = link_to t(:back), events_path
          - if can? :update, @event
            | &nbsp;
            div class="btn-group" role="group" aria-label="Button group with nested dropdown"
              div class="btn-group" role="group"
                button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  i class="fa fa-ellipsis-h fa-2x"
                div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 45px, 0px);"
                  | &nbsp;
                  = link_to t(:schedule), event_schedule_index_path(@event)
                  br
                  | &nbsp;
                  = link_to t(:edit), edit_event_path(@event)
                  br
                  | &nbsp;
                  = link_to t(:attendees), event_attendees_path(@event)
                  br
                  | &nbsp;
                  = link_to t(:badges), event_badges_path(@event)
                  - unless @event.publish && @event.invite_emails
                    - unless @event.start_at < DateTime.now.to_s(:db)
                      br
                      | &nbsp;
                      = link_to t(:notify_attendees), event_invites_path(@event)

      div class="row"
        figure class="figure"
          = image_tag @event.image.url(:event), class: "figure-img img-fluid rounded img-responsive"
      div class="row"
        | &nbsp;
      div class="row"
        div class="list-group"
          div class="list-group-item list-group-item-action flex-column align-items-start"
            div class="d-flex w-100 justify-content-between"
              div class="row"
                div class="col-lg-2 text-center bg-light"
                  h1 class="display-2"
                    = @event.start_at.strftime("%b")
                  h2 class="display-3 text-danger"
                    = @event.start_at.strftime("%d")
                  h3 class="display-4"
                    = @event.start_at.strftime("%Y")
                div class="col-lg-10"
                  h2 class="font-weight-bold"
                    = @event.title
                  p
                    strong
                      = t(:hosted_by)
                      | : &nbsp;
                    = link_to @event.user.name, user_custom_path(@event.user_id,@event.user.name)
                    - unless @organizers.empty?
                      - @organizers.each do |organizer|
                        | &nbsp;
                        = link_to organizer.user.name, user_custom_path(organizer.user.id,organizer.user.name)
                  - unless @event.location.nil?
                    p
                      strong
                        = t(:location)
                        | : &nbsp;
                      = @event.location
                  p
                    strong
                      = t(:from)
                      | : &nbsp;
                    = @event.start_at.strftime("%I:%M %p")
                    | &nbsp;
                    strong
                      = t(:until)
                      | : &nbsp;
                    = @event.end_at.strftime("%I:%M %p")
                  p
                    = link_to t(:add_to_calendar), event_calendar_download_path(@event)
                  - unless @event.ticket_url.nil?
                    - unless @event.ticket_url.empty?
                      p
                        strong
                          = t(:tickets)
                          | : &nbsp;
                        = link_to @event.ticket_url, @event.ticket_url, target: "_blank"
                  = social_share_button_tag(@event.title,desc: strip_tags(@event.description))

                  - if @ticket_ready
                    - if @available
                      - if user_signed_in?
                        - if @attendee.nil?
                          = link_to t(:event_registration), attendees_path(attendee: {ticket_id: @event.tickets.first.id}), method: :post , class: "btn btn-success btn-lg btn-block", data: {confirm: t(:sure_your_want_to_attend_this_event)},id: "Event_Registration", remote: true
                        - else
                          = link_to t(:view_your_ticket), attendee_path(@attendee), remote: true, class: "btn btn-success btn-lg btn-block"
                      - else
                        = link_to t(:event_registration), new_user_session_path, class: "btn btn-warning btn-lg btn-block"
                    - else
                      - unless @event.ticket_url.nil?
                        - if @event.ticket_url.include? request.domain
                          = link_to t(:sold_out), "#", class: "btn btn-success btn-lg btn-block disabled", disabled: true
                        - else
                          = link_to t(:get_tickets), @event.ticket_url, target: "_blank", class: "btn btn-success btn-lg btn-block"
                  span id="view_your_ticket"
      div class="row"
        div class="col-lg-12"
          div class="lead"
            = sanitize @event.description
      - unless  @event.schedules.empty?
        div class="row"
          br
          div class="col-lg-12"
            div class="col-lg-3"
              div class="col-lg-4"
                = t(:schedule)
                | :
        div class="row"
          div class="col-lg-12"
              div class="col-lg-1"
              table class="col-lg-10" border="0px"
                tr border="0px"
                  th
                    = t(:talk_name)
                  th class="text-nowrap" style="width: 15rem;"
                    = t(:speaker_name)
                  th class="text-nowrap text-center" style="width: 8rem;"
                    = t(:date_hour)
                  th class="text-nowrap text-center" style="width: 8rem;"
                    = t(:hour_start)
                  th class="text-nowrap text-center" style="width: 8rem;"
                    = t(:hour_end)
                - @event.schedules.each do |schedule|
                  tr  style="border-bottom:1pt solid black;"
                    td
                      = schedule.talk_name.capitalize
                    td
                      = schedule.speaker_name.titlecase
                    td class="text-center"
                      = schedule.date_hour.strftime("%d-%m-%Y")
                    td class="text-right"
                      = schedule.hour_start.to_time.strftime("%I:%M %p")
                    td class="text-right"
                      = schedule.hour_end.to_time.strftime("%I:%M %p")


      div class="row"
        div class="col-lg-12"
          | &nbsp;
      div class="row"
        div class="col-lg-12"
          - unless @event.latitude.nil?
            = map(container_id: "show_map",center: {latlng: ["#{@event.latitude}", "#{@event.longitude}"],zoom: 14}, markers: [{latlng: ["#{@event.latitude}", "#{@event.longitude}"]}])
      div class="row"
        | &nbsp;
      div class="row"
          - if @community.nil?
            = @event.organizer
          - else
            div class="list-group"
              div class="list-group-item list-group-item-action flex-column align-items-start"
                div class="d-flex w-100 justify-content-between"
                  div class="row"
                    div class="col-lg-2 text-center bg-light"
                      = image_tag @community.logo.url(:thumb), class: "img-fluid rounded"
                    div class="col-lg-10"
                      strong
                        = @community.name
                      p
                        = sanitize @community.information
      div class="row"
        div class="col-lg-1"
        div class="col-lg-10"
            div class="row"
              div  class="col-md-8"
                h3 class="mb2"
                  = t(:comments)
              div class="col-md-4"
                - if user_signed_in?
                  = link_to t(:add_comment),new_event_comment_url(@event), remote: true, class: "btn btn-success btn-sm", id: "add_comment"
                - else
                  = link_to t(:sign_in_to_comment), new_user_session_path, class: "btn btn-success btn-sm"
              div class="col-md-12 text-center"
                | &nbsp;
                div id="event_comment_#{@event.id}"
              div id="comment_list" class="comments col-md-12"
                div id="new_event_comment_#{@event.id}"
                - @comments.each do |comment|
                   = render comment
      div class="row"
        div class="col-lg-10"
         | &nbsp;
        div class="col-lg-2 text-right"
          = link_to t(:back), events_path
