div class="container"
  div class="col-lg-12" 
    div class="col-lg-12"
      br
      div class="col-lg-10"
        |&nbsp;
      div class="col-lg-2"
        - if can? :update, @news
          => link_to t(:edit), edit_news_path(@news)
          '|
        =< link_to t(:back), news_index_path
    div class="col-lg-12"
      h2 class="display-3"
        = @news.title
      div class="col-lg-10"
       = t(:by)
       | :&nbsp;
       = @news.user.name
      div class="col-lg-2"
        = @news.published_at.strftime("%B %d, %Y") unless @news.published_at.nil?
      div class="col-lg-12"
       p class="lead"
         = sanitize @news.news_content.content
      div class="col-lg-10"
        = social_share_button_tag(@news.title,url: "#{url_for news_url(@news)}",desc: strip_tags(@news.news_content.content))
      div class="col-lg-2"
        - if can? :update, @news
         => link_to 'Edit', edit_news_path(@news)
        '|
        =< link_to 'Back', news_index_path
