div class="container"
  div class="col-lg-12"
       div class="page-header"
         h2 class="display-3"
           = t(:edit)
           | &nbsp;
           = t(:page)

       == render 'form'

       => link_to t(:show), @page
       '|
       =< link_to t(:Back), pages_path
