
    div class="container"
      = render file: 'communities/show', layout: false
      div id="myTabContent" class="tab-content"
        | &nbsp;
        div id="allcontent"
         div  class="tab-pane" id="contacts"
