
    div class="container"
      = render file: 'communities/show', layout: false
      div id="myTabContent" class="tab-content"
        | &nbsp;
        div id="allcontent"
         div  class="tab-pane" id="contacts"
            div class="page-header"
              h2 class="display-3"
                = t(:send)
                | &nbsp;
                = t(:community_contacts)
            == render 'form'
            = link_to t(:back), community_contacts_url(@community)
