div class="container"
  div class="col-lg-12"
     div class="page-header"
         h4 class="display-3"
           = t(:edit)
           | &nbsp;
           = t(:your_user_preference)

     == render 'form'
