<br>

 <p>Hola,</p>
 <p></p>
 <p><%=@user.name%> le ha envitado a pertenecer al grupo <%=@community.name%></p>
 <p>Para unirte ha este grupo sigue el siguiente enlace:
   <%= link_to 'Aceptar', edit_community_invite_url(@community.subdomain,@invite.uuid)%></p>

  <p>
    Gracias, esperamos verte pronto</p>
