
  li id="board_#{board.id}" class="list-group-item list-group-item-action flex-column align-items-start"
        div  class="row"
          div class="col-lg-2 text-center bg-light"
            = image_tag board.user.avatar(:thumb), alt: board.user.name
            p
              = board.user.name
          div class="col-lg-8"
            div id="board_edit_#{board.id}"
            div id="board_subject_#{board.id}"
              h4 class="font-weight-bold"
                = link_to board.subject, community_board_url(board.community.subdomain,board), remote: true
            p
              i class="fa fa-clock-o fa-1x"
              | &nbsp;
              = board.created_at
            p
              i class="fa fa-eye fa-1x"
              | &nbsp;
              = board.views
            p
              i class="fa fa-comments fa-1x"
              | &nbsp;
              = board.message_count
            - if board.deleted
              p class="badge badge-pill badge-warning"
                = t(:board_subject_deleted)
          div class="col-lg-2 "
            - if user_signed_in?
              - if @member
                div class="btn-group" role="group"
                  button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    i class="fa fa-ellipsis-h fa-2x"
                  div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 45px, 0px);"
                    - if board.community.is_admin?(current_user) || board.user_id==current_user.id
                        p
                          | &nbsp;
                          = link_to t(:edit), edit_community_board_url(board.community,board), remote: true, class: "dropdown-item"
                        p
                          | &nbsp;
                          = link_to t(:delete), community_board_url(board.community,board), method: "delete" ,remote: true, class: "dropdown-item"
