
<%if @member.present? %>
$('#modal_title').html("<%= j @community.name + '-' + t(:new_community_board_subject)%>");
$('#modal_content').html("<%= j render('form') %>" );
$('#show_modal').modal('show');
<%else%>
alert('<%=t(:join_to_add_subject)%>');
<%end%>
