- set_class=''
- if formated==true
  - set_class="list-group-item d-flex justify-content-between align-items-center"
li id="notification_#{notification.id}" class="#{set_class}"
    - unless set_class.empty?
      = check_box_tag "ids[]", notification.id, false
      | &nbsp;
    - parent = notification.parent
    = link_to "#{notification.user.name} #{t(:added_flagged_a_comment_on_event)} #{parent.title}" ,
            event_url(parent.subdomain,:not_id=>notification.id)
