table
  tbody
    tr
      td
        | Hola,
        br
        p
          = "#{@event.user.name} creo el evento #{@event.title} y solicita que particpes como organizador"
          | Si deseas aceptar su invitación sigue el siguiente enlace:
        br
          = link_to 'Invitación', admin_invites_url(@event.subdomain,:uuid=>@event_organizer.uuid)
        br
        br
          | Tienes que estar registrado en el sistema para poder aceptar la invitación.
          | Abajo puedes ver la información del Evento.

        br
          | Gracias

table
  tbody
    tr
      td style="text-align: center"
        a href="https://floss-pa.net/events/#{@event.subdomain}"
          | ver en el sitio web
    tr
      td
        = image_tag "https://floss-pa.net/#{@event.image.url(:mail)}"
    tr
      td
        h3
          = @event.title
        p
          b El día: &nbsp;
          = @event.start_at.strftime("%b %d %y")
          | &nbsp;
          b desde: &nbsp;
          = @event.start_at.strftime("%I:%M %p")
          | &nbsp;
          b hasta: &nbsp;
          = @event.end_at.strftime("%I:%M %p")
    tr
      td
          b Lugar: &nbsp;
          = @event.location
    tr
      td
        = @event.description.html_safe unless @event.description.nil?
