| Estimado
= @user.name
|,
br
br
= "#{@comment.user.name} dejo un commentario en su evento para verlo favor siga el enlace que sigue:"
br
= linkt_to @comment.event.title, event_url(@comment.event.subtitle)

br
br
Gracias
