div class="container"
 div class="col-lg-12"
      p#notice = notice

      p
        strong Name:
        = @badge_rule.name
      p
        strong Times:
        = @badge_rule.times
      p
        strong Inmediatly:
        = @badge_rule.inmediatly
      p
        strong Badgeble type:
        = @badge_rule.badgeble_type
      p
        strong Deliver:
        = @badge_rule.deliver

      => link_to t(:edit), edit_badge_rule_path(@badge_rule)
      '|
      =< link_to t(:back), badge_rules_path
