@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* ==================
 *
 *google fonts
 *
 *===================*/

body{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.navbar-default {
    background-color: #000 !important ;
    border-color: #000 !important;
}

.title {
  text-align: center;
  padding-bottom: 70px;
  overflow: hidden;
}
.title h2 {
  color: #333;
  font-size: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.title h2:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #F8C800;
    position: absolute;
    top: 12px;
    left: -60px;
}
.title h2:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #F8C800;
    position: absolute;
    top: 12px;
    right: -60px;
}
.title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #817C7C;
}

#about {
  padding: 50px 0 0;
}
#about .feature-block {
  padding-bottom: 35px;
}
#about .feature-block .icon-box {
  margin-bottom: 24px;
}
#about .feature-block .icon-box i {
  display: inline-block;
  line-height: 1;
  font-size: 60px;
  transition: 0.3s;
  color: #CA4E1F;
}
#about .feature-block h4 {
  font-size: 20px;
  color: #333;
  position: relative;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: 400;
}
#about .feature-block p {
  font-size: 15px;
  color: #888;
  line-height: 24px;
  font-weight: 300;
  margin-top: 20px;

}
#about .showcase-img {
  margin-top: 40px;
}

#participate .col {
  position: relative;
  padding: 47px 60px;
  overflow: hidden;
}
#participate .col-md-6 {
    border: solid #dedede;
    border-width: 0 1px 1px 0;
    padding-bottom: 42px;
}
#participate .col-md-6:nth-child(3n) {
      border-right: 0;
}
#participate .col-md-6:nth-child(5n) {
      border-right: 0;
      border-bottom: 0;
}
#participate .col-md-6:nth-child(4n) {
  border-bottom: 0;
}
#participate .media .media-left {
  padding-right: 20px;
  color: #CA4E1F;
}

#participate .media .media-left a:before {
  content: "\f347";
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  font-family: "Ionicons";
  background: #80d6a3;
  text-align: center;
  color: #fff;
  font-size: 13px;
  padding-top: 2px;
}
#participate .media .media-body {
  padding-top: 5px;
}
#participate .media .media-body h4 {
  color: #444;
  text-transform: uppercase;
  margin-bottom: 12px;
}
#participate .media .media-body p {
  font-size: 14px;
  font-family: 'Lora', serif;
  font-style: italic;
  color: #787878;
}

#participate .media a {
  color: #CA4E1F;
}

#participate .container {
  padding-top:0px;
  padding-bottom:100px;
  border-bottom: 1px solid #e6e6e6;
}

#footer {
  padding: 77px 0;
}

#footer .icons a {
  color: #000000;
}

#footer .links a {
  color: #000000;
}

a {color: #ca4e1f;}
a:hover {color: #ca4e1f;}
.nav-link {color: #ca4e1f;}
.nav-link:hover {color: #ca4e1f;}
.pagination > li > a, .pagination > li > span{ color: #ca4e1f;}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus { color: #ca4e1f;}
.dropdown-menu > li > a:hover{ background-color: #ca4e1f;}
.badge {background-color: #ca4e1f;}
@media (min-width: 981px) { body { padding-top: 50px; } }
@media (max-width: 1024px) { body { padding-top: 50px; } }
.messages-view{
  border: 1px solid #ca4e1f;
  height:300px;
  overflow-y: scroll;
}
