= form_for @oportunity do |f|
  - if @oportunity.errors.any?
    #error_explanation
      h2 = "#{pluralize(@oportunity.errors.count, "error")} prohibited this oportunity from being saved:"
      ul
        - @oportunity.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .actions = f.submit
