<p>Saludos <%= @email %>!</p>

<p>Puede confirmar su cuenta de correo por medio del siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
