<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te estamos contactando para notificate que su correo ha sido cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te estamos contactando para notificate que su correo ha sido cambiado de  <%= @resource.email %>.</p>
<% end %>
