<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicito el enlace para cambiar su contraseña. Puedes hacer esto siguiendo el sigiente enlace.</p>

<p><%= link_to 'Cambiar Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no realizo esta solicitud, ignore este correo.</p>
<p>Su contraseña no cambiara hasta que sigua el enlace anterior y cambie la misma.</p>
