<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta a sido bloqueada debido a multiples intentos fallidos de iniciar sessión con su cuenta.</p>

<p>Dele click al enlace que sigue para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear su cuenta', unlock_url(@resource, unlock_token: @token) %></p>
