div class="container"
  div class="row"
    div class="col-lg-12"
      div class="page-header"
        h3
          = t(:communities)
          | :
    div class="col-lg-12"
      - @communities.each do |community|
          = render community
    div class="col-lg-12 text-center"
        = will_paginate @communities, renderer: BootstrapPagination::Rails
