- set_class=''
- if formated==true
  - set_class="list-group-item d-flex justify-content-between align-items-center"
li id="notification_#{notification.id}" class="#{set_class}"
    - unless set_class.empty?
      = check_box_tag "ids[]", notification.id, false
      | &nbsp;
    = link_to "#{notification.user.name} #{t(:invited_to_become_admin_on)} #{notification.notifiable.event.title}" ,
            admin_invites_url(notification.notifiable.event.subdomain,:not_id=>notification.id,:uuid=>notification.notifiable.uuid)
