<% if Rails.env.production? %>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137871688-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137871688-1');
  </script>
<% end %>
