html
  body
    table width="100%" border="0" cellspacing="0" cellpadding="0"
      tbody
        tr style="background: #000; border: 0px"
          td width="25%"
          td width="55%" style="text-align: center"
            img src="https://floss-pa.net/logo.png"
          td width="25%"
        tr style="background: #f6f8fa"
          td
          td style="background: #fff"
            | &nbsp;
          td
        tr style="background: #f6f8fa"
          td
          td style="background: #fff;"
              == yield
          td
        tr style="background: #f6f8fa"
          td
          td style="background: #fff;"
            |  &nbsp;
          td
        tr style="background: #000;"
          td
          td style="text-aling: center; color:#c33600"
              p
                | &nbsp;
          td
