div id="member_#{member.id}" class="col-lg-12" class="list-group-item list-group-item-action flex-column align-items-start"
  div  class="row"
    div class="col-lg-2"
      = link_to(user_custom_path(member.user.id,member.user.name.gsub(/\s/,'-')), title: "#{member.user.name}" , data: {toggle: "tooltip", container: "body", placement: "bottom"})  do
        = image_tag member.user.avatar.url(:med_thumb),size: '100x100', alt: member.user.name, class: "img-circle img-fluid"
    div class="col-lg-7"
      p
        i class="fa fa-user fa-1x"
        | &nbsp;
        = member.user.name
      p
        i class="fa fa-clock-o fa-1x"
        | &nbsp;
        = t(:member_since) + ":"
        | &nbsp;
        = member.created_at
      div id="admin_#{member.id}"
        - if member.admin
           span class="badge badge-success"
            - if member.user_id==member.community.user_id
              = t(:organizer)
            - else
              = t(:co_organizer)
      - if member.removed
        p class="text-warning"
          = t(:user_removed_by) + ":"
          = User.find(member.removed_by).name
      - if member.ban
        p class="text-warning"
          = t(:user_ban_by) + ":"
          = User.find(member.ban_by).name
    div class="col-lg-1"
      - if user_signed_in?
        - unless member.user_id==current_user.id
            = link_to new_conversation_url(recipient_id: member.user.id), remote: true do
              i  class="fa fa-comment-o fa-2x"
    div class="col-lg-2"
      - if user_signed_in?
        - if current_user.has_role? :admin || current_user.communities.inlcude?(member.community) || current_user.members.find(member.community_id).admin
          div class="btn-group" role="group"
            button id="btnGroupDrop3" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              i class="fa fa-ellipsis-h fa-2x"
            div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 45px, 0px);"
              | &nbsp;
              - if member.removed
                = link_to t(:rejoin_member),
                            [member.community,member,remove: false],
                            id: 'remove_button',
                            method: :put,
                            data: {confirm: t(:remove_member_confirm, user_name: member.user.name)},
                            remote: true, class: "dropdown-item"
              - else
                = link_to t(:remove_member),
                            [member.community,member,remove: true],
                            id: 'remove_button',
                            method: :put,
                            data: {confirm: t(:remove_member_confirm, user_name: member.user.name)},
                            remote: true, class: "dropdown-item"
              p
                | &nbsp;
                - if member.ban
                  = link_to t(:ban_member),
                              [member.community,member,ban: false],
                              id: 'remove_button',
                              method: :put,
                              data: {confirm: t(:ban_member_confirm, user_name: member.user.name)},
                              remote: true, class: "dropdown-item"
                - else
                  = link_to t(:ban_member),
                              [member.community,member,ban: true],
                              id: 'remove_button',
                              method: :put,
                              data: {confirm: t(:ban_member_confirm, user_name: member.user.name)},
                              remote: true, class: "dropdown-item"
                - unless member.user_id==member.community.user_id
                  p
                    | &nbsp;
                    - if member.admin
                       - adisable=false
                    - else
                       - ndisable=true
                    = link_to t(:remove_co_organizer), [member.community,member,admin: false],
                                                        method: 'put', remote: true,
                                                        id: "no_admin_#{member.id}",
                                                        class: "dropdown-item",
                                                        disable: ndisable
                  p
                    | &nbsp;
                    = link_to t(:promote_to_co_organizer), [member.community,member,admin: true],
                                                        method: 'put', remote: true,
                                                        id: "set_admin_#{member.id}",
                                                        class: "dropdown-item",
                                                        disable: adisable
