<%data='<div class="col-lg-12"><div class="row text-center">'%>
<%data+= "#{will_paginate @members, {link_options: {'data-remote': true}, renderer: BootstrapPagination::Rails }}" %>
<%data+='</div><div id="member_list" class="list-group"></div></div>'%>
$('#allcontent').html('<%= j data.html_safe %>');
<% @members.each do |member|%>
$('#member_list').append("<%= j render member %>");
<%end%>
$('#members').addClass("active")
