<%if @member %>
  <%if @member.removed || @member.ban%>
   $('#member_<%=@member.id%>').remove();
  <%end%>
  <%if @member.admin%>
    $('#admin_<%=@member.id%>').html('<span class="badge badge-success"><%=t(:co_organizer)%></span>');

  <%else%>
    $('#admin_<%=@member.id%>').html('');
  <%end%>
<%end%>
